* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: rgb(243, 238, 244);
    width: 100%;
    height: 3000px;
}

.info{
    position: fixed;

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    top: 1vw;
    left: 1vw;

    z-index: 3;
}

a{
    margin-top: 2.3vw;
    margin-left: 4vw;
    font-size: 0.8vw;
    mix-blend-mode: difference;
    color: white;

    letter-spacing: 0.4vw;

    position: fixed;  
    z-index: 3;

}

.logo {
    mix-blend-mode: difference;
    color: white;
    height: 4vw;

    position: fixed;
    top: 1vw;
    left: 1vw;

    z-index: 3;
}

.oswald{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.playfair-display{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
}

h1{
    font-size: 1.5vw;
    color: #fff;
}

h2{
    font-size: 3vw;
    color: #fff;
}

h3{
    font-size: 3vw;
    color: black;
}

h4{
    font-size: 2vw;
    color: black;
}

h5{
    font-size: 1.2vw;
    color: rgb(53, 53, 53);
    text-transform: uppercase;

}

h6{
    font-size: 1vw;
    color: black;
}

.season{
    position: fixed;
    z-index: 2;

    top: 65%;
    left: 25%;
    transform: translate(-50%, -50%)
}

.video-container{
    position: relative;
}

.video-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    background: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 0) 40%,
        rgba(0, 0, 0, 0.5) 100%
    );
    z-index: 1;
}

.film_main{
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 100vh;
    
    object-fit: cover;
}

.directors{
    width: 100%;
    height: 100vh;
    
    padding: 10vw;

    position: sticky;
    top: 0vw;
}


.profile{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    margin-top: 2vw;
}

.profile-photo{
    height: 15vw;
}

.profile-text{
    text-align: left;
    margin-left: 3vw;
    margin-right: 3vw;
}


