* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
    margin: 0;
    padding: 0;
    background-color: black;
}

body{
    background-color: rgb(243, 238, 244);
    width: 100%;

}

.mobile-section-titles{
    display: none;
}

.info{
    position: fixed;

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    top: 1vw;
    left: 1vw;

    z-index: 3;
}

header a{
    margin-top: 2.3vw;
    margin-left: 4vw;
    font-size: 0.8vw;
    mix-blend-mode: difference;
    color: white;

    letter-spacing: 0.4vw;

    position: fixed;  
    z-index: 99;
    text-decoration: none;
}

.link-button{
    display: none;
}

a{
    position: static;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    letter-spacing: inherit;
}


.logo {
    mix-blend-mode: difference;
    color: white;
    height: 4vw;

    z-index: 3;
}

header .logo{
    position: fixed;
    top: 1vw;
    left: 1vw;
}

.logo-link{
    display: inline-block;
    vertical-align: middle;
}

.oswald{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.playfair-display{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
}

h1{
    font-size: 1.5vw;
    color: #fff;
}

h2{
    font-size: 3vw;
    color: #fff;
}

h3{
    z-index: 10;
    font-size: 3vw;
    color: black;
}

h4{
    font-size: 2vw;
    color: black;
}

h5{
    font-size: 1.2vw;
    color: rgb(53, 53, 53);
    text-transform: uppercase;

}

h6{
    font-size: 1vw;
    color: black;
}

.season{
    position: fixed;
    left: 7vw;
    top: 70vh;

    z-index: 2;

}

.video-container{
    position: relative;
    background-color: black;
}

.video-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    background: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 0) 40%,
        rgba(0, 0, 0, 0.5) 100%
    );
    z-index: 1;
}

.film_main{
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 100vh;
    
    object-fit: cover;

    border: none;
    outline: none;
}

.directors{
    width: 100%;
    height: 100vh;
    
    
    padding: 10vw;
    padding-top: 5vw;

    position: sticky;
    top: 0vw;
}


.profile{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    margin-top: 2vw;
}

.profile-alum{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    margin-top: 2vw;
    height: auto;

    padding-left: 10vw;
    padding-right: 10vw ;
}

.profile-photo{
    height: 15vw;
}

.profile-text{
    text-align: left;
    margin-left: 3vw;
    margin-right: 3vw;
}

.board .profile-text{
    margin-left: 1vw;
    margin-right: 5vw;
}



.contact-image-container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.contact-image-container::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 0) 40%,
        rgba(0, 0, 0, 0.9) 100%
    );
}

.img-contact{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.contact{
    position: fixed;
    z-index: 2;

    top: 68%;
    left: 22%;
    transform: translate(-50%, -50%)
}

.events{
    width: 100%;
    height: 100vh;
    
    padding: 10vw;
    padding-top: 5vw;

    position: sticky;
    top: 0vw;
}



.upcoming-container{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;

    margin-right: 7vw;
    margin-left: 7vw;
}

.event-link-box{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    font-size: 1.35rem;

    width: 30vw;
    min-width: 240px;
    height: 30vh;
    padding: 1.3vw;

    margin-right: auto;
    margin-left: auto;


    background-size: cover;
    color:whitesmoke;
    text-decoration: center;
    text-align: center;
    border-radius: 0.7vh;
    overflow: hidden;

    white-space: normal;
    word-break: normal;
    overflow-wrap: normal;

    position: relative; 

    z-index: 0;
    user-select: none;
    
    transition: box-shadow .25s ease, transform .25s ease;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    will-change: transform, box-shadow;
}

#link-box-a{
    background: url("events-media/IMG_9649-edited.png");
    background-size: cover;
    color:whitesmoke;
    text-decoration: center;
    text-align: center;
    border-radius: 1vh;
    overflow: hidden;
}

#link-box-b{
    background: url("events-media/IMG_9659-edited.png");
    background-size: cover;
    color:whitesmoke;
    text-decoration: center;
    text-align: center;
    border-radius: 0.7vh;
    overflow: hidden;
}

.event-link-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    background: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 0) 10%,
        rgba(0, 0, 0, 1) 100%
    );
    z-index: 1;
}

.event-link-box:hover{
    transform: translateY(-4px);
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.28);
}

.event-link-box:focus{
    outline: 3px solid rgba(255,255,255,.8);
    outline-offset: 3px;
}

.event-link-box .title{
    font-family: "Playfair Display", serif;
    font-weight: 300;

    margin: 0;
    margin-bottom: auto;
    width: 100%;
    letter-spacing: .1em;
    text-align: left;
    font-size: 1.1vw;
    line-height: 2vw;
    user-select: none;
    z-index: 2;

    
}

.event-link-box .details{
    font-family: "Playfair Display", serif;
    color: rgb(198, 198, 198);
    font-style: italic;

    margin: 0;
    width: 100%;
    letter-spacing: .05em;
    font-size: 1vw;
    text-align: left;
    line-height: 1.5vw;
    user-select: none;
    z-index: 2;
}

#about-us{
    height: 80vh;
}

footer{
    background-color: rgb(33, 33, 33);
    padding: 3vw 2vw;
    position: relative; 
}

footer .logo{
    margin: 0; 
    position: static;
    height: 4vw;
    mix-blend-mode: difference;
}

footer a{
    color: white;
    font-size: 1vw;
    letter-spacing: 0.12vw;
    position: static;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-links{
    display: flex;
    gap: 5vw;
    padding: 1.5vw;
}

.footer-inner{
    display: flex;
    align-items: flex-start;
    gap: 2vw;
}

footer .foot {
    display: flex;
    align-items: center;
    gap: .8rem;

    position: static;
    color: rgb(186, 186, 186);
    mix-blend-mode: normal;
    font-size: 0.7rem;
    letter-spacing: 0.12em;
    margin: 0;
    text-decoration: none;
}

.contact-logo{
    height: 1.2vw;
    width: auto;
    display: block;
}

#alum{
    margin-bottom: 3vw;
    height: 80vh;
}

.board .profile{
    width: 100%;
    height: 90vh;
    padding: 10vw;
    padding-top: 2vw ;
    position: sticky;
    top: 10vw;
}

#board-header, #alum-header{
    padding-left: 10vw;
    padding-top: 10vw;
    position: sticky;
    top:-3vw;
}

.board img{
    height: 20vh;
}

.board h4{
    font-size: 1.5vw; 
}

.board h5{
    font-size: .9vw;
}
.board h6{
    font-size: .7vw;
}

#alum-header{
    padding-top: 0vw !important;
    margin-bottom: 0vw !important;
    top: 15vh !important;
    background: linear-gradient(
        to top,
        rgb(243, 238, 244) 0%,
        rgb(243, 238, 244) 50%,
        rgb(243, 238, 244) 100%
    );
}



/* MOBILE CSS */

#mobile-section-titles {
  transition:
    opacity 1s cubic-bezier(0.22, 1, 0.36, 1),
    transform 1s cubic-bezier(0.22, 1, 0.36, 1);
  will-change: opacity, transform;
}

.rotate-out {
  opacity: 0;
  transform: translateY(-6px);
}

.rotate-in {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {

    header .logo{
        height: 11vw;
        position: fixed;
        top: 4vw;
        left: 4vw;
    }

    .mobile-section-titles{
        display: inline;
        z-index: 15;

        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-size: 4vw;
        text-transform: uppercase;

        mix-blend-mode: difference;
        color: white;

        position: fixed;
        top: 4vh;
        left: 23vw;
    }

    #section-title-a-desktop{
        display: none;
    } 

    #section-title-b-desktop{
        display: none;
    }
    
    #section-title-c-desktop{
        display: none;
    }

    .link-button{
        display: flex;

        font-size: 11vw;
        line-height: 10px;

        position: fixed;

        top: 0vw;
        right: 5vw;

        margin: 0;
    }

    .oswald{
        display: none;
    }

    .season{
        display: flex; 
        flex-direction: column-reverse;
    }

    h1{
        font-size: 5vw;
    }

    h2{
        font-size: 8vw;
    }

    h6{
        margin-bottom: 5vh;
    }

    .events{
        position: relative;
        padding-top: 10vh;
        height: 180vh;
    }

    .event-link-box{
        height: 70vh;
        width: 100vw;
        padding: 4vw;

        position: sticky;
        top: 15vh;

        margin-bottom: 20vh;
    }

    #link-box-a{
        background-position: calc(100% + 60vw) center;
    }

    #link-box-b{
        background-position: calc(100% + 10vw) center;
    }

    .event-link-box .title{
        font-size: 4vw;
        line-height: 2rem;
    }

    .event-link-box .details{
        font-size: 4vw;
        line-height: 1.5rem;
    }

    .directors{
        height: 280vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile{
        flex-direction: column;
        align-items: left;

        width: 70vw;

        position: sticky;
        top: 15vh;
    }

    .profile-text{
        width: 70vw;
        margin-left: 0;
        margin-bottom: 25vw;
    }

    .profile-photo{
        width: 70vw;
        height: 70vw;
        margin-bottom: 5vw;
    }

    h4{
        font-size: 5vw;
    }

    h5{
        font-size: 4vw;
    }

    h6{
        font-size: 3vw;
    }

    #footer{
        display: none;
    }
}